<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Funcionário</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarFuncionario" aria-controls="navbarFuncionario"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarFuncionario">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- RF011: Página Inicial de Funcionário -->
          <li class="nav-item">
            <a class="nav-link" id="rf011-link" [routerLink]="['/paginainicialfuncionario']">Página Inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rf012-link" [routerLink]="['/visualizarsolicitacao']">Solicitação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rf012-link" [routerLink]="['/cadastrofuncionario']">Cadastrar Funcionário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rf012-link" [routerLink]="['/cadastrarequipamento']">Cadastrar Equipamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rf012-link" [routerLink]="['/relatorioreceita']">Relatorio Receita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="rf012-link" [routerLink]="['/login']">Sair</a>
          </li>
  

        </ul>
      </div>
    </div>
  </nav>