<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Funcionário</a>

    <!-- botão “hamburger” -->
    <button class="navbar-toggler" type="button"
            (click)="menuOpen = !menuOpen"
            [attr.aria-expanded]="menuOpen"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapse controlado pelo Angular + responsivo Bootstrap -->
    <div class="collapse navbar-collapse" [class.show]="menuOpen">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/paginainicialfuncionario">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/visualizarsolicitacao">Solicitação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrofuncionario">Cadastrar Funcionário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrarequipamento">Cadastrar Equipamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/relatorioreceita">Relatório Receita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" routerLink="/login">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
