<app-navbar></app-navbar>
<div class="container mt-5">
    <h1>Solicitação de Manutenção</h1>
    <form (ngSubmit)="enviarSolicitacao()">
      <div class="mb-3">
        <label for="descricaoEquipamento" class="form-label">Descrição do Equipamento:</label>
        <input 
          type="text" 
          id="descricaoEquipamento" 
          name="descricaoEquipamento" 
          [(ngModel)]="descricaoEquipamento" 
          class="form-control" 
          required>
      </div>
      <div class="mb-3">
        <label for="categoriaEquipamento" class="form-label">Categoria do Equipamento:</label>
        <select 
          id="categoriaEquipamento" 
          name="categoriaEquipamento" 
          [(ngModel)]="categoriaEquipamento" 
          class="form-control" 
          required>
          <option value="">Selecione...</option>
          <option *ngFor="let eq of equipamentos" >
            {{eq.categoria}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="descricaoDefeito" class="form-label">Descrição do Defeito:</label>
        <textarea 
          id="descricaoDefeito" 
          name="descricaoDefeito" 
          [(ngModel)]="descricaoDefeito" 
          class="form-control" 
          required>
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
    </form>
  </div>
  